{% extends "layout.html" %}
{% block title %}{{ this.name }} ({{ this.date.year }}){% endblock %}
{% block body %}
<div class="jumbotron">
    <h2>{{ this.name }}</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Post</strong></h3>
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Date
                    <dd>{{ this.date|dateformat }}
                    <dt>Author
                    <dd><a href="https://github.com/{{ this.github_user }}">{{ this.author }}</a>
                    {% if this.tags %}
                        <dt>Tags
                        <dd>{{ this.tags|sort|join(', ') }}
                    {%- endif -%}
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>TL;DR</strong></h3>
            </div>
            <div class="panel-body">
                {{this.tldr}}
            </div>
        </div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{this.name}}" data-via="{{this.twitter_handle}}" data-size="large" data-related="pytestdotorg" data-hashtags="python,pytest">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        {% if this.twitter_handle %}
        <a href="https://twitter.com/{{this.twitter_handle}}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{this.twitter_handle}}</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        {% endif %}

        <a aria-label="Star hackebrot/pytest-tricks on GitHub" data-style="mega" href="https://github.com/hackebrot/pytest-tricks" class="github-button">Star</a>
        <a aria-label="Fork hackebrot/pytest-tricks on GitHub" data-style="mega" href="https://github.com/hackebrot/pytest-tricks/fork" class="github-button">Fork</a>
        <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
    </div>
</div>
<p id="content">{{ this.content }}</p>
<div class="comment-box">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>COMMENTS</strong></h3>
        </div>
        <div class="panel-body">
            <div class="comments">{{ render_disqus_comments() }}</div>
        </div>
    </div>
</div>
{% endblock %}

