{% extends "layout.html" %}
{% block title %}{{ this.name }} ({{ this.date.year }}){% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>{{ this.name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <dl>
                {% if this.date %}
                <dt>Date
                <dd>{{ this.date|dateformat }}
                {% endif %}
                {% if this.author %}
                <dt>Author
                <dd><a href="https://twitter.com/{{ this.author }}">@{{ this.author }}</a>
                {% endif %}
                {% if this.docs %}
                <dt>Documentation
                <dd><a href="{{ this.docs }}">{{ this.docs }}</a>
                {% endif %}
                <dt>Tags
                <dd>{{ this.tags|sort|join(', ') }}
        </div>
        <div class="col-md-6">
            </dl>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">TL;DR</h3>
                </div>
                <div class="panel-body">
                    {{this.tldr}}
                </div>
            </div>
        </div>
    </div>
</div>
<p id="content">{{ this.content }}</p>
{% endblock %}

